/***BODY STYLING BODY STYLING BODY STYLING BODY STYLING***/
body {
	margin: 10px;
	background: linear-gradient(155deg, rgba(88,47,120,1) 0%, rgba(125,70,232,1) 100%, rgba(250,105,253,1) 100%, rgba(139,29,149,1) 100%);
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	min-height: 100vh;
}