  /**** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER ***/
  footer {
	display: grid;
	grid-column: 1 / span 12;
	color: white;
	text-align: center;
	margin-top: 10px;
	background-color: #c0aaff;
	align-items: center;
	border-radius: 0 0 10px 10px;
  }